<% content_for :dashboard_bar do %>
  User Profile
<% end %>

<% content_for :card_title do %>
  List Users
<% end %>

<div class="content-body default-height">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">

      <div class="col-xl-12 col-xxl-12">
      <%= render layout: "layouts/card_wrapper" do %>
        <!-- Your page content here (form, etc.) -->

      asd

      <% end %>

      </div>
    </div>
  </div>
</div>