<!--**********************************
    Nav header start
***********************************-->
<div class="nav-header">
  <a href="/" class="brand-logo" aria-label="Gymove">
    <%= image_tag "logo.png",class:"logo-abbr", alt: "" %>
    <%= image_tag "logo-text.png", class:"logo-compact", alt: "" %>
    <%= image_tag "logo-text.png", class:"brand-title", alt: "" %>
  </a>

  <div class="nav-control">
    <div class="hamburger">
      <span class="line"></span><span class="line"></span><span class="line"></span>
    </div>
  </div>
</div>
<!--**********************************
    Nav header end
***********************************-->