<h1><%= @exercise.name %></h1>
<p><strong>Description:</strong> <%= @exercise.description %></p>

<%= link_to "Edit", edit_exercise_path(@exercise), class: "btn btn-secondary" %>
<%= link_to "Back to Exercises", exercises_path, class: "btn btn-link" %>
