<div class="card">
  <div class="card-header">
    <div class="card-title d-flex justify-content-between align-items-center w-100">
      <%= yield(:card_title) %>
    </div>
  </div>
  <div class="card-body">
      <%= yield %>
  </div>
</div>

